@font-face
{
	font-family: "font-awesome";
	font-style: normal;
	font-weight: normal;
	src: url("font-awesome/fonts/fontawesome-webfont.ttf");
}

body 
{
	background-color : rgba(255,255,255,0.5);
	background-image: url("../images/decors/backgroundbody.jpg");
}
#canvas{
	background-image: url("../images/decors/candy-background.png");
	background-repeat: repeat;
	background-opacity : 0.90;
	height	: 600px;
	margin	: 0 auto;
	-moz-box-shadow: 0 0 10px 10px #888;
	-webkit-box-shadow: 0 0 10px 10px #888;
	box-shadow: 0 0 10px 10px #888;
	width	: 900px;
}


/*gui TEARS*/
#containerTearsGUI{
	background-color	: white;
	display				: inline-block;
	padding     		: 10px;
	position			: absolute;
	right				: 20.5rem;
	top					: 0.7rem;
	width				: 7rem;
}

.tear{
	background-color	: purple;
	display				: inline-block;
	float               : right;
	height				: 2rem;
	vertical-align		: middle;
	width				: 2rem;
}

#gameOver{
	background-color	: red;
	border				: 2px solid black;
	border-radius		: 15px;
	display				: none;
	font-size			: 45px;
	height				: 512px;
	left				: 100px;
	position			: absolute;
	text-align			: center;
	top					: 50px;
	width				: 719px;
}

#controles{
	background-color: grey;
	display         : inline-block;
	font-size       : 20px;
	font-weight     : bold;
	height          : 6rem;
	padding         : 10px;
	position        : absolute;
	right           : 3.5rem;
	text-align      : center;
	top             : 6.0rem;
	width           : 24rem;
}

#notif{
	background      : #E0C5DD;
	background-size :cover; 
	border          : 1px rgb(252, 126, 126) solid;
	border-radius   : 2rem;
	font-family     : "font-awesome";
	height          : 20rem;
	/*left          : 15rem;*/
	background-image: url("../images/decors/backgroundpopup.jpg");
	left            : 30rem;
	padding         : 1rem;
	position        : absolute;
	text-align      : center;
	top             : 1rem;
	vertical-align  : middle;
	width           : 30rem;
}
#container{
	background-color: rgba(200,200,200,0.9);
	border          : 1px rgb(255, 255, 255) solid;
	border-radius   : 2rem;
	padding         : 1.5rem;
}
.name{
	font-weight: bold;
	text-decoration: underline;

}
.displayNone{
	display: none;
}
.title{
	font-size: 2rem;
	margin   : 0;
}
.explication{
	font-size     :1.0rem;
	margin-top    : 2rem;
	position      : relative;
	vertical-align: middle;
}

.buttonInit{
	background-color      : transparent;
	background-image      : url('../images/decors/lolipopaxe.png');
	background-repeat     : no-repeat;
	background-size       : contain;
	border                : 0px;
	-moz-border-radius    : 7px;
	-webkit-border-radius : 7px;
	border-radius         : 7px;
	color                 : white;
	color                 : white;
	font-size             : 1.2rem;
	font-weight           : bolder;
	height                : 7rem;
	margin                : 0rem;
	padding-top           : 4.2rem;
	position              : relative;
	text-align            : center;
	top                   : 0rem;
	width                 : 7rem;
}
audio{

	left    : 62rem;
	top     : 9rem;
}