body 
{
	background-color : black;
}
#canvas{
	display	: inline-block;
	margin	: 0 auto;
	width	: 900px;
	height	: 600px;
}


/*gui TEARS*/
#containerTearsGUI{
	display				: inline-block;
	position			: absolute;
	right				: 20.5rem;
	top					: 0.7rem;
	width				: 7rem;
	padding     		: 10px;
	background-color	: white;
}

.tear{
	float               : right;
	display				: inline-block;
	background-color	: purple;
	width				: 2rem;
	height				: 2rem;
	vertical-align		: middle;
}

#gameOver{
	display				: none;
	background-color	: red;
	border-radius		: 15px;
	width				: 719px;
	left				: 100px;
	position			: absolute;
	top					: 50px;
	height				: 512px;
	text-align			: center;
	font-size			: 45px;
	border				: 2px solid black;
}

#controles{
	display				: inline-block;
	position			: absolute;
	right				: 3.5rem;
	top					: 6.0rem;
	width				: 24rem;
	height				: 6rem;
	font-size			: 20px;
	padding			    : 10px;
	background-color	: grey;
	text-align: center;
	font-weight			: bold;
}